@mixin hoverLink {
  border-bottom: 1px solid #fff;
  border-top: 2px solid #fff;
  background: rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease-in-out;
}

@mixin hoverBatton {
  background-color: $complementaryColor;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

@mixin sectionTopic {
  padding-top: 4rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@mixin sectionText {
  padding-right: 5rem;
  width: 45%;
  text-align: center;
}

@mixin sectionTitle {
  font-family: "Mali", cursive;
  font-size: 5.6rem;
  line-height: 4.8rem;
  text-transform: uppercase;
}

@mixin sectionTextLine {
  margin: 2rem auto;
  width: 10%;
  height: 0.3rem;
  background-color: $complementaryColor;
  border-radius: 5rem;
}

@mixin sectionSubtitle {
  margin-bottom: 3rem;
  font-size: 1.8rem;
  line-height: 3.5rem;
}

@mixin sectionDescription {
  @include sectionSubtitle;
  font-weight: normal;
  margin-bottom: 1rem;
}

@mixin sectionFrameRight {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-70%, -50%);
  width: 50%;
  height: 50%;
  background: transparent;
  border: 2rem solid $complementaryColor;
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  border-radius: 0.5rem;
}

@mixin sectionFrameLeft {
  @include sectionFrameRight;
  left: 18%;
}
