@import "../partial/variables";
@import "../partial/mixins";

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  //   font-family: "Mali", cursive;
  background: #fff;
  color: $secondaryColor;
}

a {
  display: block;
  text-decoration: none;
  color: $secondaryColor;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

section {
  background-color: $secondaryColor;
  & .section-wrapper {
    padding: 8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primaryColor;
    & .section-text {
      padding-right: 5rem;
      width: 45%;
      text-align: center;
      & .section-title {
        @include sectionTitle;
      }
      & .section-text_line {
        @include sectionTextLine;
      }
      & .section-subtitle {
        @include sectionSubtitle;
        font-weight: bold;
      }
      & .section-description {
        @include sectionDescription;
      }
    }
    & .section-image {
      position: relative;
      width: 35%;
      & img {
        width: 100%;
      }
      & .section-frame {
        @include sectionFrameRight;
      }
    }
  }
}

/*========== HEADER ==========*/
.header {
  height: 100vh;
  min-height: fit-content;
  background: #170d05;
  background-image: url(../image/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 0px 1rem #000000);
}

.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  & .nav_left,
  & .nav_right {
    display: flex;
    justify-content: space-around;
    width: max-content;
    border-bottom: $borderLink;
    & .nav_link {
      padding: 4.5rem;
      border-bottom: 1px solid transparent;
      border-top: 2px solid transparent;
      text-transform: uppercase;
      font-size: 1.2rem;
      line-height: 1.8rem;
      &:hover {
        @include hoverLink;
      }
    }
  }
  .nav_modal,
  #nav_modal-switcher {
    display: none;
  }
  .logo {
    width: 12%;
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-55%);
    & img {
      width: 100%;
    }
  }
  & .nav_list {
    display: none;
  }
}

.header-content {
  width: 100%;
  height: calc(100vh - 11.2rem);
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 15% 1fr 15%;
  grid-area: working-hours header-text header-social;
  & .working-hours {
    height: max-content;
    width: max-content;
    position: relative;
    top: 50%;
    left: -50%;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.2rem;
    transform: rotateZ(-90deg);
  }
  .header-text {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    border-left: $borderLink;
    border-right: $borderLink;
    & .header-text_title-description {
      font-size: 1.2rem;
      font-size: 1.4rem;
      font-family: "Mali", cursive;
    }
    & .header-text_title {
      font-size: 9rem;
      line-height: 8rem;
      font-family: "Mali", cursive;
    }
    & .section-text_line {
      @include sectionTextLine;
    }
    & .header-text_buttons {
      display: flex;
      justify-content: center;
      & .header-text_button {
        text-transform: uppercase;
        border: $borderLink;
        background-color: transparent;
        color: #fff;
        padding: 2.4rem 4.8rem;
        border-radius: 0.5rem;
        &:first-child {
          margin-right: 4rem;
        }
        &:hover {
          @include hoverBatton;
        }
      }
    }
    .header-down {
      position: relative;
      top: 10%;
      & .header-down_link {
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: $borderLink;
        border-radius: 50%;
        color: #000;
        font-weight: 900;
        font-size: 2rem;
        line-height: 2.3rem;
        color: #fff;
        &:hover {
          @include hoverBatton;
        }
      }
    }
  }

  .header-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 2rem;
    & .header-social_item a {
      width: 6rem;
      height: 6rem;
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: $borderLink;
      border-radius: 50%;
      font-size: 2rem;
      line-height: 2.3rem;
      &:hover {
        @include hoverBatton;
      }
    }
  }
}

/*========== SECTION TEAM ==========*/
.team {
  background: #170d05;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../image/team-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 0px 1rem #000000);
  & .section-topic {
    @include sectionTopic;
  }
  & .section-wrapper {
    padding-top: 4rem;
    flex-direction: row-reverse;
    color: $secondaryColor;

    & .section-text {
      padding: 0 0 0 5rem;
    }
    & .section-image {
      & .section-frame {
        @include sectionFrameLeft;
      }
    }
  }
}

/*========== SECTION ORDER ==========*/
.order {
  & .section-text {
    width: max-content;
  }
}
form {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 4 (1fr);
  grid-template-areas:
    "name email"
    "phone people"
    "date time"
    "button button";
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  & .order_name {
    grid-area: name;
  }
  & .order_email {
    grid-area: email;
  }
  & .order_phone {
    grid-area: phone;
  }
  & .order_people {
    grid-area: people;
  }
  & .order_date {
    grid-area: date;
  }
  & .order_time {
    grid-area: time;
  }
  & .order_button {
    grid-area: button;
  }

  & * {
    padding: 2rem;
    list-style: none;
    border: none;
    background: #e5e5e5;
    border-radius: 5px;
    color: rgba(51, 51, 51, 0.5);

    font-size: 1.4rem;
    line-height: 1.9rem;
    align-items: center;
    cursor: pointer;
    &:hover {
      @include hoverBatton;
    }
  }
  & .order_button {
    background-color: $complementaryColor;
    &:hover {
      box-shadow: 0 0 1rem rgba(51, 51, 51, 0.8);
    }
  }
}

/*========== SMALL SCREEN ==========*/
/*==================================*/
@media screen and (min-width: 890px) and (max-width: 1199px) {
  html {
    font-size: 8px;
  }
  .nav .nav_left .nav_link,
  .nav .nav_right .nav_link {
    font-size: 2rem;
    padding: 3rem;
  }
  .header-content {
    height: calc(100vh - 8.2rem);
    & .working-hours {
      font-size: 1.5rem;
    }
    & .header-text_title {
      width: max-content;
      margin: 0 auto;
    }
    & .header-text {
      & .header-down {
        & .header-down_link {
          width: 6rem;
          height: 6rem;
        }
      }
    }
    .header-social_item {
      margin-right: 3rem;
      margin-top: 3.5rem;
    }
  }
}

/*========== LAPTOP ==========*/
/*============================*/

@media screen and (min-width: 768px) and (max-width: 889px) {
  html {
    font-size: 6px;
  }
  .nav .nav_left .nav_link,
  .nav .nav_right .nav_link {
    font-size: 2rem;
    padding: 3rem;
  }
  .header-content {
    height: calc(100vh - 8.2rem);
    & .working-hours {
      font-size: 2rem;
    }
    & .header-text_title {
      width: max-content;
      margin: 1.2rem auto;
    }
    & .header-text {
      & .header-down {
        & .header-down_link {
          width: 6rem;
          height: 6rem;
        }
      }
    }
    & .header-social {
      & .header-social_item a {
        width: 8rem;
        height: 8rem;
        margin-right: 4rem;
        margin-top: 6rem;
      }
    }
  }
}

/*========== MOBILE ==========*/
/*============================*/
@media screen and (max-width: 767px) {
  .nav {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: $borderLink;
    & .nav_left,
    & .nav_right {
      display: none;
    }
    & .logo {
      position: static;
    }
    & .nav_list {
      display: block;
      padding: 1rem;
      font-size: 3rem;
      margin-top: 1rem;
    }
    & #nav_modal-switcher {
      display: none;
    }
    & .nav_modal {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      z-index: 5;
      & .nav_modal-item {
        height: calc(100vh / 10);
        background-color: #170d05;
        & .nav_modal-link {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
          text-transform: uppercase;
          &:hover {
            @include hoverBatton;
          }
        }
        & .header-social {
          display: flex;
          height: 100%;
          & .header-social_item {
            width: calc(100% / 3);
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            &:hover {
              @include hoverBatton;
            }
          }
        }
      }
    }
    & #nav_modal-switcher:checked ~ .nav_modal {
      display: block;
      animation: modal 1s ease-in-out;
    }
    @keyframes modal {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .header-content {
    display: block;
    height: calc(100vh - 8.1rem);
    & .working-hours {
      display: none;
    }
    & .header-text {
      justify-content: space-around;
      height: 100%;
      & .header-text_title {
        display: block;
        width: 220px;
        font-size: 5rem;
      }
      & .header-text_line {
        margin: 1rem auto;
      }
      & .header-down {
        & .header-down_link {
          width: 5rem;
          height: 5rem;
        }
      }
      & .header-text_buttons {
        margin-top: 1.5rem;
        & .header-text_button {
          padding: 1.2rem 2.4rem;
        }
      }
      & .header-down {
        top: 0;
      }
    }
    & .header-social {
      display: none;
    }
  }

  section,
  .team {
    & .section-wrapper {
      padding: 3rem 0;
      flex-direction: column;
      & .section-text {
        padding: 0;
        width: 80%;
        & .section-title {
          font-size: 3.5rem;
        }
      }
      & .section-image {
        width: 70%;
        & .section-frame {
          border: 1.2rem solid $complementaryColor;
        }
      }
    }
  }
}
